body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Dela Gothic One', sans-serif;
}

.gothic-font {
    font-family: 'Dela Gothic One', sans-serif;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link-icon {
    text-decoration: none;
}

#biography {
    display: flex;
    flex-direction: row;
}

.full-screen {
    min-height: 100vh;
}

#biography h1 {
    margin-bottom: 12px;
}

.biography-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
}

#gosling-container {
    flex: 1.5;
    z-index: -2;
    position: relative;
    background: url(resources/images/gosling.png) center bottom/75% no-repeat,
        url("resources/images/triangle.svg") -1px center no-repeat,
        linear-gradient(196deg, #D138F7 20.21%, #FBD36C 54.1%, #5398FF 83.38%);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 50vw;
}

#my-projects {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.project-container {
    background: var(--color);
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

.project-container * {
    color: color-mix(in srgb, var(--color) 35%, #000);
}

.project-container a {
    font-weight: bold;
}

.projects {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#send-me-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sender-form {
    min-width: 300px;
    min-height: 400px;
    border-radius: 20px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#sender-form span {
    font-size: 26px;
}

.inputs-combo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
}

.rich-txt-input-group, .txt-input-group {
    width: 100%;
}

.txt-input-group {
    position: relative;
    padding-top: 25px;
}

.txt-input-group label {
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: transform 0.3s;
    color: #959595;
}

.txt-input-group input {
    border: none;
    width: 100%;
    font-size: 16px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    transition: border-color 0.3s;
}

.txt-input-group input:focus {
    outline: none;
    border-color: #5398FF;
}

.focused-label {
    transform: translateY(calc(-100% - 5px));
}

.rich-txt-input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.rich-txt-input-group textarea {
    border: 2px solid #959595;
    border-radius: 5px;
    transition: border-color 0.3s;
    padding: 8px;
}

.rich-txt-input-group textarea::placeholder {
    font-size: 12px;
}

.rich-txt-input-group textarea:focus {
    outline: none;
    border-color: #5398FF;
}

input[type="submit"] {
    background: #3F97FF;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    color: #FFF;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: color-mix(in srgb, #3F97FF 95%, #000);
}
