body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Dela Gothic One', sans-serif;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link-icon {
    text-decoration: none;
}

#biography {
    display: flex;
    flex-direction: row;
}

.full-screen {
    height: 100vh;
}

#biography h1 {
    margin-bottom: 12px;
}

.biography-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
}

#gosling-container {
    flex: 1.5;
    z-index: -2;
    position: relative;
    background: url(resources/images/gosling.png) center bottom/75% no-repeat,
        url("resources/images/triangle.svg") -1px center no-repeat,
        linear-gradient(196deg, #D138F7 20.21%, #FBD36C 54.1%, #5398FF 83.38%);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 50vw;
}

#my-projects {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.project-container {
    background: var(--color);
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}

.project-container * {
    color: color-mix(in srgb, var(--color) 35%, #000);
}

.project-container a {
    font-weight: bold;
}

.projects {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
